<h2>Edit task</h2>
<form method="post" action="/task/<%=@task.id%>">
	<label>Do you really want to delete task <%=@task.name%> ?</label>
	<input name="_method" type="hidden" value="delete" />
	<input type="hidden" value="<%= @task.id %>" name="id" />
	<input type="submit" value="submit" />
</form>
<a href="/">No, go back</a>

