<script type="text/javascript">
	
	$(document).ready(function () {
		$("#jsonButton").click(function () {
			$.getJSON('/provaJson', function(data) {
				alert(data.key1);
			});
		});
	  
	});
	
</script>

<h1>Todo list</h1>
<h2>Tasks:</h2>
<div>
	<a href="/task/new">Add new task</a>
</div>
<% unless @tasks.empty? %>
<ul>
	<% @tasks.each do |task| %>
	<li>
		<input type="checkbox" <%= "checked=\"checked\"" if task.completed_at %> />
		<a href="/task/<%=task.id%>">
			<%= task.name%>			
		</a>
		<a href="/task/<%=task.id%>/delete">
			delete
		</a>
		<% if task.completed_at %>
		<span>Completed at <%=task.completed_at%></span>
		<% end%>
	</li>
	<% end%>
</ul>
<% else %>
<p>No Tasks!</p>
<% end %>
<div>
	<button id="jsonButton">Click me!</button>
	
</div>
