<html>
	<head>
		<title>Ruby Academy</title>
		<script type="text/javascript" src="jquery-1.8.2.js" charset="UTF-8" language="JavaScript"></script>
	</head>
	<body>
		<h1>Todo list:</h1>
		<%= yield %>
	</body>
</html>
