<h2>Edit task</h2>
<form method="post" action="/task/update">
	<label>Name</label>
	<input name="_method" type="hidden" value="put" />
	<input type="HIDDEN" value="<%= @task.id %>" name="id" />
	<input type="text" value="<%= @task.name %>" name="name"/>
	<input type="checkbox" name="completed" value="true" <%= "checked=\"checked\"" if @task.completed_at %> />
	<input type="submit" value="submit" />
</form>

